<%= form_with model: wordnotes, method: "post", url: wordnotes_path, remote: true do |f| %>
  <h4 id="create-wordnote-form-title">単語帳を作成</h4>
  <div class="form-group">
    <%= f.label :name, "単語帳の名前(必須)", class: "bmd-label-floating" %>
    <%= f.text_field :name, required: true, value: nil, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :subject, "科目(必須)", class: "bmd-label-floating" %>
    <%= f.text_field :subject, required: true, value: nil, class: "form-control" %>
  </div>
  <div id="wordnote-open" >
    <%= f.label :is_open, "公開する(任意)" %>
    <%= f.check_box :is_open , {:checked => true} %>
  </div>
  <div class="d-flex justify-content-between mt-4">
    <%= f.submit "単語帳を作成", class: "btn btn-primary btn-raised" %>
    <div class="btn btn-outline-info modal-close close-btn"><i class="fas fa-window-close"></i> 閉じる</div>
  </div>
<% end %>
