<% if @wordnotes.size > 0 %>
<h3>作成した単語帳</h3>
  <table class="table">
    <tr>
      <th> 名前 </th>
      <th> 科目 </th>
      <th> 単語数 </th>
      <% if @current_user == @user %>
        <th> 編集 </th>
      <% end %>
      <th> お気に入り </th>
    </tr>
    <% @wordnotes.each do |wordnote| %>
      <% if wordnote.is_open == true || @current_user.id == wordnote.user_id %>
      <tr id="wordnote-no-<%= wordnote.id %>">
        <td <%= 'class=not-open' if wordnote.is_open == false %>> <%= link_to wordnote.name, user_wordnote_url(user_id: user.id, id: wordnote.id) %> </td>
        <td> <%= wordnote.subject  %> </td>
        <td> <%= wordnote.tangos.size  %> </td>
        <% if @current_user.id == wordnote.user_id %>
          <td>
          <button class="btn " id="edit-no-<%= wordnote.id %>"><i class="fa fa-book"></i></button> 
          <%= render partial: "wordnotes/hidden_tags", locals: {wordnote: wordnote} %>
          </td>
        <% end %>
        <td>
          <%= render partial: "favorites/fav_btn", locals: {wordnote: wordnote, user: @user, current_user: @current_user} %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </table>
<% else %>
<% end %>

