<% @title = "tan5にログイン" %>
<div id="login-form">
  <h1 id="login-form-title"><%= @title %></h1>
  <%= form_with model: @form, url: :session do |f| %>
    <div class="form-group">
      <%= f.label :email, "メールアドレス(必須)", class: "bmd-label-floating" %>
      <%= f.email_field :email, size: 32, required: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password, "パスワード(必須)", class: "required bmd-label-floating" %>
      <%= f.password_field :password, size: 32, required: true, class: "form-control" %>
    </div>
    <div>
      <%= f.submit "ログイン", class: "btn btn-outline-primary" %>
    </div>
  <% end %>
</div>

<script>
$(function(){
  setTimeout("$('.alert.alert-danger').fadeOut('slow')", 2000)
  setTimeout("$('.alert.alert-success').fadeOut('slow')",2000);
})
</script>
