<div class="form-group">
  <%= f.label :email, "メールアドレス(必須)", class: "bmd-label-floating" %>
  <%= f.email_field :email, size: 32, required: true, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :password, "パスワード(必須)", class: "required bmd-label-floating" %>
  <%= f.password_field :password, size: 32, required: true, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :name, "アカウント名(必須)", class: "required bmd-label-floating" %>
  <%= f.text_field :name, required: true, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :profile, "プロフィール", class: "bmd-label-floating" %>
  <%= f.text_area :profile, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :profile_image, "アイコン画像", class: "bmd-label-floating" %>
  <div class="d-flex flex-row p-2">
    <%= image_tag f.object.profile_image.url, id: "profile-image-preview", class:"rounded-circle", size: "100x100" %>
    <%= f.file_field :profile_image, accept: 'image/jpeg,image/gif,image/png', class: "form-control-file align-self-center p-2" %>
    <%= f.hidden_field :profile_image_chache %>
  </div>
</div>
<%= f.submit "登録", class: "btn btn-outline-primary" %>
<%= link_to "キャンセル", :root, class: "btn btn-outline-secondary" %>

<%= javascript_include_tag 'users/edit/apply_preview_image' %>
