<div style="max-width: 700px; margin: 0 auto;">
<h4 class="display-4" id="user-index-title">ユーザー検索</h3>
<%= paginate @users %>
<div class="row m-0">
  <% @users.each do |user| %>
      <div class="wordnote-card col-md-12 p-2" id="user-no-<%= user.id %>">
        <div class="card" style="height:100%;">
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                <%= link_to user_path(user) do %>
                  <div class="user-profile-in-user-index">
                    <img src="<%= user.profile_image  %>">
                    <div><%= user.name %> </div>
                  </div>
                <% end %>
              </div>
              <div class="col-9">
                <div class="card-text"><%= user.profile %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>
<%= paginate @users %>
</div>
