<% @title = "マイページ" %>
<%= render partial: "tango_configs/config_window" %>
<%= render partial: "wordnotes/edit_wordnote" %>
<div class="container-fluid">
  <div class="row">
    <div id="user-show-left" class="col-lg-6">
      <div id="profile-box" class="shadow-sm pb-5">
        <div class="user-profile-image">
          <%= image_tag @user.profile_image.url if @user.profile_image? %>
          <%= image_tag '/uploads/user/profile_image/no_data/no_image.png' if @user.profile_image? == false %>
        </div>
        <div class="user-name">
          <h1><%= @user.name %></h1>
        </div>
        <div class="user-profile">
          <%= @user.profile %>
        </div>
        <div class="user-created_at">
          <i class="fa fa-calendar"></i> 登録日 <%= @user.created_at.to_s.split(" +").first.split(" ").first %>
        </div>
        <% if @current_user == @user %>
          <div>
            <%= link_to edit_user_path(@current_user), class: "btn btn-outline-info" do %>
              <i class="fas fa-user"></i> アカウント情報変更
            <% end %>
          </div>
        <% end %>
      </div>

        <% if @current_user == @user %>
          <div id="user-show-register-btns" class="shadow-sm">
            <div id="build-wordnote-btn" class="mt-1 w-100 btn btn-outline-primary" style="font-size: x-large"><i class="fas fa-book"></i> 単語帳を作成</div>
            <% if @wordnotes != nil && @wordnotes.size == 1 && @wordnotes.first.tangos.size == 0 %>
              <div id="add-tango-btn" class="mt-2 w-100 btn btn-outline-secondary blink" style="font-size: x-large"><i class="fas fa-file"></i> 単語を登録　</div>
            <% elsif @wordnotes.size > 0 %>
              <div id="add-tango-btn" class="mt-2 w-100 btn btn-outline-secondary" style="font-size: x-large"><i class="fas fa-file"></i> 単語を登録　</div>
            <% end %>
            <div id="create-wordnote-form" class="modal">
              <div class="modal__bg modal-close"></div>
              <div class="modal__content">
                <div id="wordnote_register" class="container">
                  <%= render "wordnotes/form" , wordnotes: @wordnotes, current_user: @current_user %>
                </div>
              </div>
            </div>
            <div id="create-tango-form" class="modal">
              <div class="modal__bg modal-close"></div>
              <div class="modal__content">
                <div id="tango_register" class="container">
                  <%= render "tangos/form" , tango: @tango, wordnotes: @wordnotes, current_user: @current_user %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class='favorites-list'>
          <%= render "wordnotes/favorite_wordnotes" , favorite_wordnotes: @favorite_wordnotes, current_user: @current_user %>
        </div>
      </div>
      <% if @wordnotes.size > 0 %>
        <div id="created-wordnotes" class="col-lg-6">
          <%= render partial: "/wordnotes/list", locals: { wordnotes: @wordnotes , user: @user} %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="js-zone">
  <%= javascript_include_tag 'users/show/edit_wordnote' %>
  <%= javascript_include_tag 'users/show/change_favorite' %>
  <script>
    jQuery(function(){ $.editWordnote() ;});
    jQuery(function(){ $.changeFavorite() ;});
    $(document).on('click','#add-tango-btn',function(){
      $('#create-tango-form').fadeIn();
    });
    $(document).on('click','#build-wordnote-btn',function(){
      $('#create-wordnote-form').fadeIn();
    });
    
  $('#create-tango-form .modal-close, #create-wordnote-form .modal-close').on('click',function(){
    $('.modal').fadeOut();
  });
  </script>
</div>
