
<td><button type="button" class="new-btn btn btn-outline-primary">new</button></td>
<td class='id hidden'><textarea class="hidden tango[id]" style="width:100%"></textarea></td>
<td class='question'><textarea class="hidden tango[question]" style="width:100%"></textarea></td>
<td class='answer'><textarea class="hidden tango[answer]" style="width:100%"></textarea></td>
<td class='hint'><textarea class="hidden tango[hint]" style="width:100%"></textarea></td>
<td class='updated_at small'>
<%= form_with model: Tango, method: :post, format: :json, url: wordnote_tangos_path(wordnote_id: @wordnote.id) do |f| %>
<%= f.hidden_field :question %>
<%= f.hidden_field :answer %>
<%= f.hidden_field :hint %>
<%= f.submit "登録", class: "create-btn btn btn-primary btn-raised w-100 hidden" %>
<% end %><button type="button" class="create-cancel-btn btn btn-outline-dark w-100 hidden"> <i class="fas fa-times"></i> </button></td>
