<!DOCTYPE html>
<html>
  <head>
    <title><%= view_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application'  %>
    <% Dir.glob(Rails.root.join("app","assets","javascripts",params[:controller],params[:action],"*")) do |f| %>
      <%= javascript_include_tag f.split("javascripts/").last %>
    <% end %>
    <%= javascript_include_tag 'shared/shared' %>
  </head>

  <body>
    <div id="wrapper">
      <%= render "shared/header" %>
      <div id="container">
        <%= yield %>
      </div>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
